.title{
    color:var(--text-color);
    line-height:1.56;
}

.catalog{
    margin:48px 0;
}

.input{
    margin:48px 0;
}

/* ----------BUTTON-------- */

.btn{
    margin-top:48px;
    display:flex;
    justify-content: center;
}

.button{
    background:var(--btn-bg);
    border-radius:4px;
    padding:20px 50px;
    transition:background .2s ease;
    cursor:pointer;
}

.btnSpan{
    color:var(--main-color);
    line-height:1.22;
    font-size:1rem;
    font-weight:300;
}

.button:hover{
    background:var(--btn-bg-active);
}

.removeProducts {
    width: 30px;
    height: 30px;
    border-radius:50%;
    background:var(--main-color-hover);
    display:flex;
    justify-content: center;
    position: relative;
    cursor:pointer;
    transition:all .2s ease;
}

.removeProducts::before{
    content:'';
    position:absolute;
    width: 10px;
    height: 1px;
    background-color: var(--text-color);
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(-60deg);
}

.removeProducts::after{
    content:'';
    position:absolute;
    width: 10px;
    height: 1px;
    background-color: var(--text-color);
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(60deg);
}

.removeProducts:hover{
    transform:scale(1.1);
}

/* ------------TEXT--------------- */
.noElements{
    display: flex;
    justify-content: center;
}

.content{
    display:grid;
    grid-template-columns:repeat(3,370px);
    gap:20px 35px;
}

/* -----------MEDIA----------- */

@media (max-width:1250px){
    .content{
        grid-template-columns: repeat(2,23.125rem);
        justify-content:center;
    }
}

@media (max-width:840px){
    .content{
        grid-template-columns: 1fr;
        justify-content:center;
    }
}