.title{
    color:var(--text-color);
    font-size:2.25rem;
    font-weight:600;
    line-height:1.56;
}

.catalog{
    margin:48px 0;
}

.input{
    margin:48px 0;
}

.btn{
    margin-top:48px;
    display:flex;
    justify-content: center;
}

.button{
    background:var(--btn-bg);
    border-radius:4px;
    padding:20px 50px;
    transition:background .2s ease;
    cursor:pointer;
}

.btnSpan{
    color:var(--main-color);
    line-height:1.22;
    font-size:1rem;
    font-weight:300;
}

.button:hover{
    background:var(--btn-bg-active);
}

.content{
    display:grid;
    grid-template-columns:repeat(3,370px);
    gap:20px 35px;
}

@media (max-width:1200px){
    .content{
        grid-template-columns: repeat(2,370px);
        justify-content:center;
    }
}

@media (max-width:800px){
    .content{
        grid-template-columns: repeat(1,370px);
        justify-content:center;
    }
}