.faq{
    background:var(--bg-color);
}
.content{
    max-width:910px;
    margin:0 auto;
    padding:60px 15px;
}
.titleText{
    color:var(--main-color);
    text-transform: uppercase;
    font-size:2rem;
    line-height:1.56;
    font-weight:700;
    padding-bottom:20px;
}
