.content{
    margin:20px 0;
    color:white;
    font-size:20px;
    line-height:1.3;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.addInfo::after{
    content:'';
    display:block;
    width: 25px;
    height: 1px;
    background:white;
}
.addInfo::before{
    content:'';
    display:block;
    width: 25px;
    height: 1px;
    background:white;
    transform: rotate(90deg);
}
.addInfo{
    transition:all .2s ease 0;
    cursor:pointer;
}
.addInfo.exit{
    transform:rotate(45deg);
    cursor:pointer;
}
.addText{
    transition:all .2s ease 0;
    /* display:none; */

    margin-bottom:20px;
    color:white;
    line-height:1.26;
    font-weight:600;
}
.line{
    height: 1px;
    background:white;
}
.item{
    list-style-type: none;
}
.collapse{
    display: none;
    transition: display .2s ease 0;
}
.collapse.open{
    display:block;
}