.button{
    background:var(--btn-bg);
    border-radius:4px;

    /* padding:20px 50px; */
    transition:background .2s ease;
    cursor:pointer;
}

.button:hover{
    background:var(--btn-bg-active);
    cursor: pointer;
}

.span{
    color:var(--main-color);
    line-height:1.22;
    font-size:16px;
    font-weight:300;
    padding:20px 50px;
}

.minus::before{
    content:'';
    width: 18px;
    height: 3px;
    background: white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.plus::before{
    content:'';
    width: 18px;
    height: 3px;
    background: white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.plus::after{
    content:'';
    width: 18px;
    height: 3px;
    background: white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(90deg);
}