.text{
    padding:20px 50px;
}

.icon {
    padding: 25px;
}

.small{
    height: 62px;
}

.big{
    padding:0 60px;
    height: 70px;
}

.icon.small{
    width: 50px;
    height: 50px;
}

.icon.big{
    width: 60px;
    height: 60px;
}

.btnIcon {
    border: none;
    background-color: var(--btn-bg);
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.btnIcon:hover {
    background-color: var(--btn-bg-active);
}


.btnText {
    border: none;
    background-color: var(--btn-bg);
    min-width: 148px;
    min-height: 62px;
    padding: 20px 50px;
    border-radius: 4px;
    gap: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    cursor: pointer;
    color: white;
    position: relative;
}

.btnText:hover{
    background-color: var(--btn-bg-active);
}

.btnTextDisabled {
    border: none;
    background-color: grey;
    min-width: 148px;
    min-height: 62px;
    padding: 20px 50px;
    border-radius: 4px;
    gap: 10px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: white;
}

.btnIconDisabled {
    background-color: grey !important;
    border: none;
    border-radius:4px;
    position: relative;
    cursor: auto !important;
}

/* HTML: <div class="loader"></div> */

.loader {
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    position:absolute;
    top:36%;
    left:36%;
    transform:translate(-50%,-50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}