.buttonIcon{
    background:var(--btn-bg);
    border-radius:4px;
    position:relative;
    transition:background .2s ease;
    cursor:pointer;
}

.icon{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%)
}

.buttonIcon:hover{
    background:var(--btn-bg-active);
}

.button{
    background:var(--btn-bg);
    border-radius:4px;
    padding:20px 50px;
    transition:background .2s ease;
    cursor:pointer;
}

.btnSpan{
    color:var(--main-color);
    line-height:1.22;
    font-size:1rem;
}

.button:hover{
    background:var(--btn-bg-active);
}