.header{
    background:var(--bg-color);
}

.button{
    background:var(--btn-bg);
    border-radius:4px;
    transition:background .2s ease;
    cursor:pointer;
}

.size{
    padding:20px 50px;
}

.btnSpan{
    color:var(--main-color);
    line-height:1.22;
    font-size:1rem;
    font-weight:300;
}

.button:hover{
    background:var(--btn-bg-active);
}

.main{
    position: relative;
    z-index: 2;
}

.line{
    height: 1px;
    background:white;
}

.mainText{
    margin-top:115px;
    text-align:left;
    line-height:1.5;
    color:var(--main-color);
}

.text{
    margin-top:30px;
    text-align:left;
    color:var(--main-color);
    line-height:1.24;
}

.backText{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 0;
    top:12.313rem;
    color:var(--main-color);
    opacity: .12;
    font-size:12.5rem;
    font-weight:600;
}

.btn{
    padding:30px 0 115px;
}


/* ---------MEDIA----------- */

@media (max-width:1200px){
    .backText{
        top:13rem;
        font-size:11rem;
    }
}

@media (max-width:1050px){
    .backText{
        font-size:8.5rem;
        top:15rem;
    }
}

@media (max-width:840px){
    .backText{
        top:17rem;
        font-size:7rem;
    }
}

@media (max-width:600px){
    .backText{
        top:21rem;
        font-size:4.625rem;
    }
}

@media (max-width:400px){
    .backText{
        top:30rem;
        font-size:3rem;
    }
}

