.container{
    max-width:1210px;
    padding:0 15px;
    margin:0 auto;
}

@media (max-width:1250px){
    .container{
        max-width:1010px;
    }
}

@media (max-width:1050px){
    .container{
        max-width:910px;
    }
}

@media (max-width:950px){
    .container{
        max-width:810px;
    }
}

@media (max-width:840px){
    .container{
        max-width:710px;
    }
}

@media (max-width:600px){
    .container{
        max-width:510px;
    }
}

@media (max-width:400px){
    .container{
        max-width:310px;
    }
}


