.container{
    max-width:1210px;
    padding:0 15px;
    margin:0 auto;
}

@media (max-width:1200px){
    .container{
        max-width:1010px;
    }
}

@media (max-width:62.5rem){
    .container{
        max-width:810px;
    }
}

@media (max-width:800px){
    .container{
        max-width:610px;
    }
}

@media (max-width:600px){
    .container{
        max-width:510px;
    }
}

@media (max-width:400px){
    .container{
        max-width:19.375rem;
    }
}


