.footer{
    background:var(--text-color);
    padding:23px 0;
}
.content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.items ul {
    display:flex;
    gap:40px;
    list-style-type: none;
}

.item a{
    color:var(--main-color);
}
.item a:hover{
    color:var(--main-color-hover);
    text-decoration:underline;
}

.logo a {
    color:var(--main-color);
    font-size:30px;
    font-weight:600;
    line-height:1.47;
}