.cart{
    margin:48px 0;
}

.titleText{
    font-size:2.25rem;
    line-height:1.56;
    color:var(--text-color);
    font-weight:600;
    margin-bottom:48px;
}

.content{
    display:flex;
    justify-content: space-between;
}

.noElement {
    display:flex;
    justify-content:center;
    color:#B2B5BB;
    font-size:1.5rem;
    font-weight:600;
}

/* ----------MEDIA------------ */

@media (max-width:1250px){
    .content{
        display:grid;
        grid-template-columns: 1fr;
    }
}


@media (max-width:740px){
    .content{
        grid-template-columns: none;
        justify-content: center;
    }

    .titleText{
        display:flex;
        justify-content:center;
    }
}

