.cart{
    margin:48px 0;
}

.titleText{
    font-size:2.25rem;
    line-height:1.56;
    color:var(--text-color);
    font-weight:600;
    margin-bottom:48px;
}

.content{
    display:flex;
    justify-content: space-between;
}

.items{
    border:1px solid #c4c4c4;
    padding:20px 40px;
    display:grid;
    gap: 12px;
}

.prices{
    width: 356px;
}

.textCount{
    color:#B2B5BB;
    font-size:1.25rem;
    font-weight:300;
    line-height:1.3;
}

.itemCount{
    color:var(--text-color);
    line-height:1.3;
    font-size:1.25rem;
    font-weight:300;
}

.count{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:10px;
}

.discount{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.textDiscount{
    font-size:1.25rem;
    line-height:1.3;
    font-weight:600;
    color:#B2B5BB;
}

.priceDiscount{
    font-size:1.25rem;
    font-weight:700;
    color:var(--text-color);
    line-height:1.3;
}

.line{
    width: 100%;
    height: 1px;
    background:#E5E5E5;
    margin:20px 0 10px;
}

.price{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.textPrice{
    font-size:1.5rem;
    line-height:1.36;
    font-weight:500;
    color:#B2B5BB;
}

.totalPrice{
    color:var(--text-color);
    font-size:1.5rem;
    font-weight:600;
    line-height:1.36;
}