.content{
    padding:140px 0 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    margin-bottom:48px;
}

.form{
    padding:60px;
    border:1px solid #C4C4C4;
    width:600px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:60px;
}