.navbar{
    padding:23px 0;
    background:#484283;
}
.content{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.items ul {
    display:flex;
    gap:40px;
    list-style-type: none;
}

.item a{
    color:white;
}
.item a:hover{
    color:#C4C4C4;
    text-decoration:underline;
}