.content {
    margin: 48px 0 162px;
    display:flex;
    justify-content: space-between;
}
.wrapper{
    max-width: 520px;
}
.big{
    height: 520px;
}
.small{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
}
.mini{
    cursor:pointer;
    padding:2px;
}
.mini:hover{
    border:2px solid #C4C4C4;
    border-radius:4px;
    padding:0;
}
.text{
    max-width: 620px;
}
.line{
    width:100%;
    height: 1px;
    background:#C4C4C4;
    margin:12px 0;
}
.title{
    font-size:36px;
    line-height:1.56;
    font-weight:600;
    color:;
}
.star{
    margin:16px 0 24px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.star span{
    color:#646464;
    line-height:1.24;
    font-weight:300;
}
.add{
    display:flex;
    padding:12px;
    background:rgba(0,0,0,.04);
    align-items:center;
}
.add span{
    display: block;
}
.upPrice{
    font-size:36px;
    font-weight:600;
    color:var(--text-color);
}
.downPrice{
    color:#646464;
    text-decoration:line-through;
}

