.content {
    margin: 48px 0;
    display:flex;
    justify-content: space-between;
}

.button{
    background:var(--btn-bg);
    border-radius:4px;
    padding:20px 50px;
    transition:background .2s ease;
    cursor:pointer;
}

.btnSpan{
    color:var(--main-color);
    line-height:1.22;
    font-size:1rem;
    font-weight:300;
}

.button:hover{
    background:var(--btn-bg-active);
}

.wrapper{
    max-width: 520px;
}

.big img{
    height: 520px;
    width: 520px;
}

.small{
    margin-top:10px;
    display:flex;
    justify-content:space-between;
}

.mini{
    cursor:pointer;
    padding:2px;
    width: 70px;
    height: 70px;
}

.mini:hover{
    border:2px solid #C4C4C4;
    border-radius:4px;
    padding:0;
}

.text{
    max-width: 620px;
}

.line{
    width:100%;
    height: 1px;
    background:#C4C4C4;
    margin:12px 0;
}

.title{
    font-size:2.25rem;
    line-height:1.56;
    font-weight:600;
    color:var(--text-color);
}

.star{
    margin:16px 0 24px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.star span{
    color:#646464;
    line-height:1.24;
    font-weight:300;
}

.add{
    display:flex;
    justify-content:space-between;
    margin:18px 0;
    padding:12px;
    background:rgb(0 0 0 / 4%);
    align-items:center;
}

.add span{
    display: block;
}

.prices{
    position:relative;
}

.prices::after{
    content:'';
    position:absolute;
    width: 1px;
    height:100%;
    background:#D5D5D5;
    top:0;
    right:-24px;
}

.upPrice{
    font-size:2.25rem;
    font-weight:600;
    color:var(--text-color);
}

.downPrice{
    color:#646464;
    text-decoration:line-through;
}

.text p{
    font-size:1.125rem;
    color:var(--text-color);
    line-height:1.3;
    font-weight:300;
    margin:24px 0 18px;
}

.span{
    color:#646464;
    font-weight:300;
    display:block;
    margin:6px 0;
}

.red{
    color:#F14F4F;
    font-weight:500;
    font-size:1.125rem;
    line-height:1.24;
}

.block{
    display:flex;
    align-items:center;
    gap:48px;
}

.rowSpan{
    display:flex;
    gap:8px;
    align-items:center;
}


/* -----------MEDIA------------- */

@media(max-width:1250px){
    .content{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    .title{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:600px){
    .big{
        display:flex;
        justify-content: center;
    }

    .big img{
        width: 400px;
        height: 400px;
    }
}

@media (max-width:510px){
    .big img{
        width: 300px;
        height: 300px;
    }

    .small{
        display:grid;
        justify-content: center;
        grid-template-columns: repeat(3,1fr);
    }

    .add{
        flex-direction: column;
    }

    .block{
        margin-bottom:20px;
    }
}
