.items{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding:12px;
    transition:all .2s ease;
}

.items:hover{
    background:#F6F6F6;
    border-radius:4px;
}

.item{
    display:flex;
    align-items:center;
}

.textTitle{
    color:var(--text-color);
    line-height:1.22;
    transition:all .2s ease;
    cursor:pointer;
    width:250px;
}

.textTitle:hover{
    text-decoration:underline;
}

.textSpan{
    color:var(--text-color);
    line-height:1.26;
}

.delete{
    font-size:0.875rem;
    font-weight:300;
    color:#B2B5BB;
    line-height:1.2;
    margin: 0 12px 0 48px;
    cursor:pointer;
    transition:all .2s ease;
}

.delete:hover{
    text-decoration:underline;
    color:var(--text-color);
}

.mini{
    width: 100px;
    height: 100px;
    margin-right:10px;
}

.text{
    margin-right:40px;
}


/* -------------MEDIA------------ */

@media (max-width:950px){
    .text{
        margin-right: 0;
    }
}

@media (max-width:740px){
    .items{
        display:grid;
        row-gap: 10px;
    }

    .item{
        justify-content: space-around;
    }
}

@media (max-width:415px){
    .item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textTitle{
        display: flex;
        justify-content: center;
    }

    .textSpan{
        display: flex;
        justify-content: center;
    }

    .delete{
        margin:10px 0;
    }

    .items{
        padding: 0;
        justify-content: center;
    }
}